# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*

# Various build/test artifacts.
.tiltbuild
*log
*flag.mk
out
.build
.DS_Store

# CAPI used with Tilt.
cluster-api

# Ignore output of Makefile sed operations created when generating manifests.
config/default/manager_image_patch_edited.yaml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ACS Credentials file.
cloud-config

# Editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
