# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*

nginx.conf
nginx.conf.bak

pkg/mocks/*
pkg/cloud/gomock_reflect_*
!pkg/mocks/.keep

# Various build/test artifacts.
.tiltbuild
*log
*flag.mk
out
.build
.DS_Store
_artifacts

# CAPI used with Tilt.
cluster-api

# Ignore output of Makefile sed operations created when generating manifests.
config/default/manager_image_patch_edited.yaml

# Ignore output of e2e kustomization of templates.
test/e2e/data/infrastructure-cloudstack/v1beta*/*yaml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ACS Credentials file.
cloud-config

# Editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
examples/*
hack/tools/share/*
