
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: cloudstackmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: CloudStackMachine
    listKind: CloudStackMachineList
    plural: cloudstackmachines
    shortNames:
    - osm
    singular: cloudstackmachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this CloudStackMachine belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: CloudStack instance state
      jsonPath: .status.instanceState
      name: InstanceState
      type: string
    - description: Machine ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: CloudStack instance ID
      jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - description: Machine object which owns with this CloudStackMachine
      jsonPath: .metadata.ownerReferences[?(@.kind=="Machine")].name
      name: Machine
      type: string
    name: v1alpha4
    schema:
      openAPIV3Schema:
        description: CloudStackMachine is the Schema for the cloudstackmachines API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackMachineSpec defines the desired state of CloudStackMachine
            properties:
              details:
                additionalProperties:
                  type: string
                description: Optional details map for deployVirtualMachine
                type: object
              identityRef:
                description: IdentityRef is a reference to a identity to be used when
                  reconciling this cluster
                properties:
                  kind:
                    description: Kind of the identity. Must be supported by the infrastructure
                      provider and may be either cluster or namespace-scoped.
                    minLength: 1
                    type: string
                  name:
                    description: Name of the infrastructure identity to be used.
                    type: string
                required:
                - kind
                - name
                type: object
              instanceID:
                description: Instance ID. Should only be useful to modify an existing
                  instance.
                type: string
              offering:
                description: CloudStack compute offering.
                type: string
              providerID:
                description: 'The CS specific unique identifier. Of the form: fmt.Sprintf("cloudstack:///%s",
                  CS Machine Id)'
                type: string
              sshKey:
                description: CloudStack ssh key to use.
                type: string
              template:
                description: CloudStack template to use.
                type: string
            required:
            - offering
            - sshKey
            - template
            type: object
          status:
            description: Type pulled mostly from the CloudStack API.
            properties:
              addresses:
                description: Addresses contains a CloudStack VM instance's IP addresses.
                items:
                  description: NodeAddress contains information for the node's address.
                  properties:
                    address:
                      description: The node address.
                      type: string
                    type:
                      description: Node address type, one of Hostname, ExternalIP
                        or InternalIP.
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              instanceState:
                description: InstanceState is the state of the CloudStack instance
                  for this machine.
                type: string
              ready:
                description: Ready indicates the readiness of the provider resource.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
