
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: cloudstackmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CloudStackMachineTemplate
    listKind: CloudStackMachineTemplateList
    plural: cloudstackmachinetemplates
    singular: cloudstackmachinetemplate
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: CloudStackMachineTemplate is the Schema for the cloudstackmachinetemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackMachineTemplateSpec defines the desired state of
              CloudStackMachineTemplate
            properties:
              template:
                properties:
                  metadata:
                    description: 'Standard object''s metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata'
                    type: object
                  spec:
                    description: CloudStackMachineSpec defines the desired state of
                      CloudStackMachine
                    properties:
                      affinity:
                        description: Mutually exclusive parameter with AffinityGroupIDs.
                          Defaults to `no`. Can be `pro` or `anti`. Will create an
                          affinity group per machine set.
                        type: string
                      affinitygroupids:
                        description: Optional affinitygroupids for deployVirtualMachine
                        items:
                          type: string
                        type: array
                      details:
                        additionalProperties:
                          type: string
                        description: Optional details map for deployVirtualMachine
                        type: object
                      identityRef:
                        description: IdentityRef is a reference to a identity to be
                          used when reconciling this cluster
                        properties:
                          kind:
                            description: Kind of the identity. Must be supported by
                              the infrastructure provider and may be either cluster
                              or namespace-scoped.
                            minLength: 1
                            type: string
                          name:
                            description: Name of the infrastructure identity to be
                              used.
                            type: string
                        required:
                        - kind
                        - name
                        type: object
                      instanceID:
                        description: Instance ID. Should only be useful to modify
                          an existing instance.
                        type: string
                      offering:
                        description: CloudStack compute offering.
                        properties:
                          id:
                            description: Cloudstack resource ID.
                            type: string
                          name:
                            description: Cloudstack resource Name
                            type: string
                        type: object
                      providerID:
                        description: 'The CS specific unique identifier. Of the form:
                          fmt.Sprintf("cloudstack:///%s", CS Machine ID)'
                        type: string
                      sshKey:
                        description: CloudStack ssh key to use.
                        type: string
                      template:
                        description: CloudStack template to use.
                        properties:
                          id:
                            description: Cloudstack resource ID.
                            type: string
                          name:
                            description: Cloudstack resource Name
                            type: string
                        type: object
                      zoneID:
                        description: Optionally settable Zone ID to land the machine
                          in.
                        type: string
                      zoneName:
                        description: Optionally settable Zone Name to land the machine
                          in.
                        type: string
                    required:
                    - offering
                    - template
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
